@using Nop.Plugin.MTB.Model.Admin.InvoiceRequest
@model Nop.Plugin.MTB.Model.Admin.InvoiceRequest.InvoiceRequestModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="cards-group">
    <div class="panel panel-default panel-popup">
        <div class="panel-body">

            <div class="form-group row">
                <div class="col-sm-3">
                    <nop-label asp-for="Name" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="Name" asp-required="true" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                    <nop-label asp-for="Surname" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="Surname" asp-required="true" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                    <nop-label asp-for="BusinessName" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="BusinessName" asp-required="true" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                    <nop-label asp-for="FiscalCode" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="FiscalCode" asp-required="true" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                    <nop-label asp-for="PEC" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="PEC" asp-required="true" />
                </div>
            </div>
        </div>
    </div>
</div>